<body id="bg-help">

<div> 
<img id="banner" src="/assets/find-help.png" /> 
</div>

<h3>If you have an immediate <span style="color:red;">emergency</span>, please contact <strong> 911 </strong>.</h3>

<div  id="help-description">
<p>findPeace was designed to help you locate services in the Miami Metropolitan area.</p>
<p>If at any point you need to leave this screen click the '<span style="color:red;">Escape</span>' button.</p>
</div>

    <%= react_component 'Help' %>


</body>