
<body id="body">


<div>
    <img id="logo" src="/assets/findpeace-final.png" alt="logo">
</div>

<div id="slogan-div">
    <p id="slogan-words-1">Let your present be your past</p>
    <p id="slogan-words-2">and find Peace</p>
</div>



</body>

