<body id="body">


    <div>
        <a href="link-to-home-page.com">

        </a>
    </div>

    <div id="slogan-div">
        <p id="slogan-words-1">FINDPEACE</p>
        <div id="pt2-slogan">
            <p id="slogan-words-2">Let your present be your past
                <p id="slogan-words-3">and find Peace</p>
        </div>
    </div>



</body>