.teamImages {
  display: flex;
  justify-content: center;
  padding: 5em;
}

// #teamImage {
//   justify-content: center;
//   height: 50px;
//   width: 50%;
// }

#about-image {
  height: 500px;
  width: 70%;
  border-radius: 30%;
}
