//about.css//
//about.css//
@import url("https://fonts.googleapis.com/css?family=Halant|Open+Sans+Condensed:300|Bellota|Pacifico|Roboto|Montserrat|Noto+Serif|Source+Sans+Pro|Oswald|Nunito|Nunito+Sans&display=swap");
.banner {
  padding-top: 130px;
}
.about-us-banner {
  object-fit: cover;
  background-image: url(../images/about-us-final-banner.png);
  height: 300px;
  background-size: cover;
  width: 100%;
}
.about-quote {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 30px;
}
.flex-picture-names {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  object-fit: contain;
  justify-content: space-evenly;
  height: auto;
  width: auto;
  padding-top: 15px;
}
.inner-flex {
  text-align: center;
}
.profile-block {
  object-fit: contain;
}
.names {
  text-align: center;
  font-size: 22px;
}
.about-image {
  height: 150px;
  width: 150px;
  object-fit: cover;
  object-position: top;
  border-radius: 360%;
  border: 3px solid black;
}
.about-image:hover {
  opacity: 0.7;
  transform: scale(1.1);
}
.linkedin-logo {
  height: 36.5px;
  width: 37px;
  padding: 3px;
  padding-top: 10px;
}
.linkedin-logo:hover {
  opacity: 0.7;
  transform: scale(1.1);
}
.github-logo {
  height: 35px;
  width: 35px;
  margin: 5px;
  border-radius: 10%;
  margin-top: 5.5px;
}
.github-logo:hover {
  opacity: 0.7;
  transform: scale(1.15);
}