@import url("https://fonts.googleapis.com/css?family=Halant|Inter|Open+Sans|Pacifico|Roboto|Montserrat|Noto+Serif|Source+Sans+Pro|Oswald|Nunito|Nunito+Sans&display=swap");
#bg-help {
  background-color: white;
}
#hr-help {
  color: black;
}
#banner {
  height: 250px;
  width: 100%;
  object-fit: cover;
  top: 0;
  position: absolute;
  z-index: -1
}
h3 {
  // background-color: white;
  text-align: center;
  margin-top: 180px;
  justify-content: center;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
#help-description {
  text-align: center;
  padding-top: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
  object-fit: contain;
  height: 100px;
  width: max-content;
}
.categoryButton {
  box-sizing: border-box;
  display: inline-block;
  padding: 15px 25px;
  font-size: 18px;
  cursor: pointer;
  margin: 0.1em;
  text-align: center;
  text-decoration: none;
  outline: none;
  background-color: navy;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  border-radius: 8px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.categoryButton:hover {
  transform: scale(1.07);
  transition-duration: 0.08s;
}
.categoryButton:active {
  box-shadow: 0 5px;
  outline: none;
  transform: translateY(2px);
}
.chat-box {
  margin-right: 8em;
  margin-bottom: 1em;
  margin-bottom: 1em;
  margin-left: 8em;
}
//old messages goes here//
.output {
  margin-top: 30px;
}
// this is so that the white space behind message renders at the same time as message and not before
.messages-white-background {
  margin-top: 330px;
  background-color: white;
  border: black 2px solid;
}
.hr-lines {
  margin-top: 2px;
  margin-bottom: 2px;
}
.website {
  cursor: pointer;
  text-decoration: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
}
.website:hover {
  color: #8ccd63;
  cursor: pointer;
}
.website:visited {
  color: black;
}
.address--active {
  color: #000000;
  border-top: 4px solid #639ccd;
  font-weight: 700;
}
a.address {
  cursor: pointer;
  text-decoration: underline;
  color: rgb(0, 0, 0);
  margin-left: 0;
}
a.mobile {
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.address:hover {
  color: #639ccd;
}
.address--active {
  color: #639ccd;
  border-top: 4px solid #639ccd;
  font-weight: 700;
  margin-left: 0;
}
a:-webkit-any-link:hover {
  color: #639ccd;
}
a:-webkit-any-link--active {
  color: #639ccd;
  border-top: 4px solid #639ccd;
  font-weight: 700;
  margin-left: 0;
}
a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
  margin-left: 0;
}
.mobile:hover {
  color: #639ccd;
}
.mobile--active {
  color: #639ccd;
  border-top: 4px solid #639ccd;
  font-weight: 700;
}
p:nth-child(1) {
  color: black;
  font-weight: bold;
}
hr {
  margin: 40px 40px;
}
.inputs {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 5px;
  z-index: 1;
}
// this is so that message can have overflow effect.
.messages {
  position: absolute;
  top: 10em;
  bottom: 0;
  left: 8em;
  right: 8em;
  overflow-y: auto;
  border-radius: 20px;
  padding-left: 2em;
  padding-right: 2em;
  margin-bottom: 15px;
}