// // Place all the styles related to the home controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: https://sass-lang.com/

@import url("https://fonts.googleapis.com/css?family=Halant|Pacifico|Roboto|Montserrat|Noto+Serif|Source+Sans+Pro|Oswald|Nunito|Nunito+Sans&display=swap");

#body {
  background-image: asset-url("yoga-pose-light-orange.jpg");
  background-repeat: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  //why isn't background-attachment working??//
}

#logo {
  height: 100px;
  width: 130px;
  padding-top: 15px;
}

#logo:hover {
  transform: scale(1.08);
}

#slogan-words-1 {
  grid-row: auto;
  text-align: center;
  padding-top: 23%;
  color: white;
  font-family: arial;
  font-size: 100px;
  letter-spacing: 18px;
}

#pt2-slogan {
  padding-bottom: 100px;
  text-align: center;
  margin-bottom: 0px;
  //why isn't margin bottom working - automatically going to 100px//
}

#slogan-words-2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
  color: white;
  margin-bottom: 10px;
}

#slogan-words-3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
  color: white;
  // margin-top: 2px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }

  #logo {
    width: 100px;
  }
}
