.popup {
  position: fixed;
  width: 50%;
  height: 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: black;
}
.popup\_inner {
  position: 75%;
  left: 75%;
  right: 75%;
  top: 75%;
  bottom: 75%;
  margin: auto;
  border-radius: 20px;
  background: red;
}
