<script defer src='https://use.fontawesome.com/releases/v5.0.6/js/all.js'></script>
<label for="toggle"><i class="fas fa-bars hamburger"> </i> </label>

<body>
    <img id="logo" src="/assets/find-peace-logo-bold.png" alt="logo">
    <input type="checkbox" id="toggle" name="toggle">

    <nav class="navigation--responsive">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="staticpage">Videos</a></li>
            <li><a href="about">About Us</a></li>
            <li><a href="help">Help</a></li>
        </ul>
    </nav>
</body>