<script defer src='https://use.fontawesome.com/releases/v5.0.6/js/all.js'></script>
<label for="toggle" ><i class="fas fa-bars hamburger"> </i> </label>
    <body>
    <input type="checkbox" id="toggle" name="toggle">
       
        <nav class="navigation--responsive">
            <ul>
                <li><a href="account">Account</a></li>
                <li><a href="sign-out">Sign Out</a></li>
                <li><a href="map">Map</a></li>
                <li><a href="about-us">About Us</a></li>
                <li><a href="help">Help</a></li>
            </ul>
        </nav>
</body>

